body{
    font-family: "Raleway", sans-serif;
}
.mdm-logo-header{
    max-width: 100px;
}
.mdm-btn-header{
    background-color: white;
    color: black;
}
.mdm-header-seeker{
    width: 1500px;
    gap: 15px;
}
.mdm-navbar-name.navbar-brand{
    color: white !important;
}
.mdm-nav-link{
    color: white !important;
    gap: 5px;
}
.mdm-villaroaster-header{
    color: white;
}

.mdm-navbar{ 
    background-color: #E4002B;
}
.mdm-navbar form{
    width: 500px;
}
.mdm-main{
    margin-top: 5px;
    padding: 5px;
}

.mdm-carousel-item img{ 
    width: 100%;
    height: 700px;
    object-fit: cover;
    border-radius: 15px;
}

.mdm-carousel-control-prev{
    justify-content: flex-start;
    padding-left: 15px;
}

.mdm-carousel-control-next{ /* Mueve el boton de la flecha derecha hacia el borde derecho */
    justify-content: flex-end;
    padding-right: 15px;
}

.mdm-carousel-control-prev-icon,
.mdm-carousel-control-next-icon{
    background-color: #E4002B; /* Fondo rojo */
    padding: 20px;
    border-radius: 8px; 
    transform: skew(-15deg); /*inclina un boton*/
}
.mdm-footer{
    background-color: #1d1d1d;
    color: white;
    padding: 40px;
}

.mdm-footer h4{
    margin-bottom: 15px;
    color: #E4002B;
}

.mdm-footer a{
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.mdm-footer a:hover{
    color: #E4002B;
}

.mdm-footer i{
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
}
.mdm-libro_de_reclamaciones{
    text-align: center;
}
.mdm-cards{
    border: none;
}
.mdm-cards img{
        width: 100%;
     height: 300px;
     object-fit: cover;
}
.modal-content h5{
color: white;
}
.modal-content p{
    color: white;
}
.modal-content{
    background-color: black;
}
.mdm-accordion-nosotros{
    background-color: #E4002B;
    color: white;
    border-radius: 15px;
}
.mdm-accordion-nosotros .accordion-button{
    background-color: #E4002B;
    color: white;
}
.mdm-accordion-nosotros .accordion-button:focus{
    box-shadow: none;
    outline: none;
}
.mdm-cards-premises{
    max-width: 100%;
    width: 500px;
    text-align: center;
    margin: auto;
    color: red;
}
.mdm-video{
    width: 600px;
    align-items: center;
    text-align: center;
}
.mdm-card-text{
    color:#E4002B;
    text-align: center;
}
